body {
  font-size: 1.5rem;
  background-color: rgb(228, 228, 235);
}

.main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgba(228, 228, 235, 0.405);
}

.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(245, 244, 244, 0.2);
  background-color: rgb(193, 185, 185);
  
  
}

.product{
  border: 4px dotted rgb(66, 65, 65);
  border-radius: 2%;
  background-color: rgb(228, 228, 235);
}

.cart{
  border: 4px dotted rgb(42, 42, 75);
  background-color: rgb(103, 103, 110);
}



.btn{
  display: flex;
  justify-content: center;
}

.img-products{
  height: 500px;
  width: 500px;
}

#cart-btn{
  font-size:1.5rem;
  
}

.cart-items{
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

.cartItem{
  display: flex;
  justify-content: space-around;
  min-height: 5rem;
}

.itemName{
  flex-grow: 1;
}

.total{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.cartBlock{
  display: flex;
  flex-direction: column;
}

#totalbtn{
  min-height: 3rem;
  font-size: 1rem;
}

#invisible{
  color: rgb(193, 38, 38);
}