
.text-background {
   background-image: 
   url(
    https://raw.githubusercontent.com/IntelliOreo/web-app-restaurant-review/sign-in/yasu/public/images/sign-in-page.jpeg
   );
   
   background-size: "cover";
   height: 100vh;
   width: 100vw;
   /* margin-top: -70px; */
   background-size: cover;
   background-repeat:no-repeat; 
    }

    .text-body{
      margin-top: 12vh;
      margin-left: auto;
      margin-right: auto;
      background-color: orange;
      /* align-items: center; */
      /* align-self: center;  */
      padding: 15px 15px;
      border-style: solid;
      border-color: black;
      border-width: 8px;
      width: 60%;
      height: 65%;
      vertical-align: middle;
      top: 50%;
      left: 50%;
  
  }

  .textarea {
   width: 95%;
   height: 95%; 
   font-size: 5rem;
   /* background-color: #E06F1F; */
   align-self: center; 
   padding: 15px 15px;
   border-style: solid;
   border-color: black;
   border-width: 8px;
   object-position: 50% 20%;
}

.text-box{
    
margin-left: 20px;
margin-right: 20px;
background-color: white;
text-align: start;
/* align-items: center; */
align-self: center; 
padding: 15px 15px;
border-style: solid;
border-color: black;
border-width: 8px;
width: 65%;
height: 65%;
vertical-align: middle;
top: 50%;
left: 50%;
}


.input-title {
   margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-self: center; 
    padding: 15px 15px;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    font-size:18pt;
    height:5%;
    width:50%;
    top: 10%;
    object-position: 50% 10%;
 } 

 #input { 
   text-align: right; 
}
